x-logging: &default-logging
  driver: json-file
  options:
    max-size: "10m"
    max-file: "3"

#Networks
networks:
  backend:
    driver: bridge
  database:
    driver: bridge

#Volumes
volumes:
  postgres_data:
  mongo_data:
  minio_data:
  rabbitmq_data:

#Services
services:
  #Infrastructer
  postgres:
    image: postgres:alpine3.23
    container_name: postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: ${POSTGRES_USER:-postgres}
      POSTGRES_PASSWORD: ${POSTGRES_PASS}
      POSTGRES_DB: ${POSTGRES_DB:-marketplace}
      KC_DB_PASS: ${KC_DB_PASS}
      USER_DB_PASS: ${USER_DB_PASS}
      CATALOG_DB_PASS: ${CATALOG_DB_PASS}
      ORDER_DB_PASS: ${ORDER_DB_PASS}
      PAYMENT_DB_PASS: ${PAYMENT_DB_PASS}
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./postgres/01-init-databases.sh:/docker-entrypoint-initdb.d/01-init-databases.sh:ro
    networks:
      - database
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
    logging: *default-logging

  rabbitmq:
    image: rabbitmq:4.0.9-management
    container_name: rabbitmq
    restart: unless-stopped
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_DEFAULT_USER:-marketplace}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_DEFAULT_PASS}
    ports:
      - "15672:15672"
      - "5672:5672" 
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    networks:
      - backend
    healthcheck:
      test: ["CMD-SHELL", "rabbitmq-diagnostics -q check_running && rabbitmq-diagnostics -q check_local_alarms"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 20s
    logging: *default-logging

  mongo:
    image: mongo:8.2.4
    container_name: mongo
    restart: unless-stopped
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_ROOT_USERNAME:-mongo}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_ROOT_PASS}
    networks:
      - database
    volumes:
      - mongo_data:/data/db
    ports:
      - "27017:27017"
    healthcheck:
      test: >
        mongosh --quiet
        --username ${MONGO_ROOT_USERNAME:-mongo}
        --password ${MONGO_ROOT_PASS}
        --authenticationDatabase admin
        --eval "db.adminCommand('ping').ok"
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s   
    logging: *default-logging   

  minio:
    image: minio/minio:latest
    container_name: minio
    restart: unless-stopped
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: ${MINIO_USER:-minio}
      MINIO_ROOT_PASSWORD: ${MINIO_PASS}
    volumes:
      - minio_data:/data
    command: server /data --console-address ":9001"
    networks:
      - backend
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/live"]
      interval: 10s
      timeout: 10s
      retries: 10
      start_period: 40s 
    logging: *default-logging

  minio-init:
    image: minio/mc:latest
    container_name: minio-init
    depends_on:
      minio:
        condition: service_healthy
    environment:
      MINIO_ROOT_USER: ${MINIO_USER:-minio}
      MINIO_ROOT_PASSWORD: ${MINIO_PASS}
    networks:
      - backend
    volumes:
      - ./minio/01-init-buckets.sh:/01-init-buckets.sh:ro
    entrypoint: /01-init-buckets.sh
    restart: "no"

  keycloak:
    build:
      context: ./keycloak
      dockerfile: Dockerfile
    container_name: keycloak
    restart: unless-stopped
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      KC_DB: postgres
      KC_DB_URL: jdbc:postgresql://postgres:5432/keycloak_db
      KC_DB_USERNAME: keycloak_svc
      KC_DB_PASSWORD: ${KC_DB_PASS}
      KC_BOOTSTRAP_ADMIN_USERNAME: ${KC_ADMIN:-admin}
      KC_BOOTSTRAP_ADMIN_PASSWORD: ${KC_ADMIN_PASS:-admin}
    command: start-dev
    ports:
      - "8080:8080"
    networks:
      - backend
      - database
    healthcheck:
      test: ["CMD-SHELL", "exec 3<>/dev/tcp/127.0.0.1/8080 || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 60s
    logging: *default-logging

